.header_container {
    background: rgba(78, 64, 160, 0.493);
    margin: 1vh 0;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.397);
}

@media screen and (max-device-width: 640px) {
    h1 {
        font-size: 30px;
    }
}