body {
    max-width: 1400px;
    margin: auto;
    background: rgb(9, 0, 15);
    background: linear-gradient(90deg, rgba(9, 0, 15, 1) 0%, rgba(253, 115, 29, 0.2413340336134454) 90%, rgba(252, 176, 69, 1) 100%);
    padding: 1rem 2rem;
}